FOUNDRY_PROFILE=local

URL_ETH_MAINNET=https://ethereum.publicnode.com/
URL_SEPOLIA=https://ethereum-sepolia.publicnode.com
URL_ANVIL=http://localhost:8545

ETHERSCAN_API_KEY=

HERMES_RA2_NODE_URL=https://hermes.pyth.network/

CHAINLINK_DATA_STREAMS_API_URL=https://api.dataengine.chain.link
CHAINLINK_DATA_STREAMS_API_KEY=
CHAINLINK_DATA_STREAMS_API_SECRET=

# Replace with URL of custom trufflehog detector for EVM secrets
TRUFFLEHOG_URL=http://...

# Optional variables for deployment
INIT_LONG_AMOUNT=
DEPLOYER_ADDRESS=
FEE_COLLECTOR=
SDEX_ADDRESS=
WSTETH_ADDRESS=
MIDDLEWARE_ADDRESS=
LIQUIDATION_REWARDS_MANAGER_ADDRESS=
REBALANCER_ADDRESS=
PYTH_ADDRESS=
PYTH_ETH_FEED_ID=
REDSTONE_ETH_FEED_ID=
CHAINLINK_ETH_PRICE_ADDRESS=
CHAINLINK_ETH_PRICE_VALIDITY=
CHAINLINK_GAS_PRICE_ADDRESS=
CHAINLINK_GAS_PRICE_VALIDITY=
GET_WSTETH=

# Optional variables for fork deployment
UNDERLYING_ADDRESS=
START_PRICE=

# Optional variables for transferring ownership
NEW_OWNER_ADDRESS=
USDN_PROTOCOL_ADDRESS=
