# Builds
out/
dist/

# Non-mainnet deployment artifacts
broadcast/*.sol/**/*.json
!broadcast/*.sol/1/run-*.json
# Tenderly deployments
!broadcast/*.sol/98*/run-1*.json
# Local Fork deployments
broadcast/*Fork*.s.sol
broadcast/global.s.sol

# Private files
.env
.env.fork
.env.local
.env.usdn

# Cache
cache/
.corpus/

# Dependencies
node_modules/
dependencies/

# direnv
.direnv

# coverage
.coverage/
lcov.info

# docs
docs/

# IDE
.idea/
.vscode/

# Removed for now, might enable after v1.0
.gas-snapshot

# Rust
target/

# TruffleHog config file
.trufflehog.yml
