# Hyperliquid mainnet RPC URL used for forked tests
MAINNET_RPC_URL=https://rpc.hyperliquid.xyz/evm
# HyperLiquid EVM testnet RPC URL
HL_TESTNET_RPC_URL=https://rpc.hyperliquid-testnet.xyz/evm
# Local RPC
RPC_URL="http://127.0.0.1:8545"
# The RPC that will be used by the after deployment validation test
AFTER_DEPLOYMENT_RPC_URL=https://rpc.hyperliquid-testnet.xyz/evm

# Deployer private key
DEPLOYER=

# The address that will have default admin priviledges over the AdminController
MULTI_SIG_WALLET=

# Address of the AdminController ProxyAdminContract owner
PROXY_ADMIN_OWNER=

# The percentage of the interest minted by the Active Pool that goes to the Stability Pool, 1e18 precision
SP_YIELD_SPLIT=750000000000000000 # 75%
